.lista {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.info { grid-area: 1 / 1 / 2 / 6; }
.espace { grid-area: 2 / 1 / 3 / 3; }
.boton1 { grid-area: 2 / 3 / 3 / 4; }
.boton2 { grid-area: 2 / 4 / 3 / 5; }
.boton3 { grid-area: 2 / 5 / 3 / 6; }