:root {
  --bulma-primary-h: 195deg;
  --bulma-primary-s: 94%;
  --bulma-primary-l: 50%;
  --bulma-link-s: 16%;
  --bulma-link-l: 65%;
  --bg-color: white;
  --text-color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    .itemPreview {
      cursor: pointer;
      transition: box-shadow 0.3s ease, transform 0.3s ease;
      box-shadow: 0 2px 4px rgba(8, 187, 247, 0.222);
  }
  
  .itemPreview:hover {
      box-shadow: 0 8px 16px rgba(8, 187, 247, 0.222);
      transform: translateY(-4px);
  }
  
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    .itemPreview {
      cursor: pointer;
      transition: box-shadow 0.3s ease, transform 0.3s ease;
      box-shadow: 0 2px 4px rgba(3, 75, 99, 0.222);
  }
  
  .itemPreview:hover {
      box-shadow: 0 8px 16px rgba(3, 75, 99, 0.222);
      transform: translateY(-4px);
  }
  }
}

[data-theme=light],
.theme-light {
  --bulma-primary-h: 195deg;
  --bulma-primary-s: 94%;
  --bulma-primary-l: 50%;
  --bulma-link-h: 0deg;
  --bulma-link-s: 0%;
  --bulma-link-l: 0%;


  --bg-color: #f5f5f5;
  --text-color: #121212;
}

[data-theme=dark],
.theme-dark {
  --bulma-primary-h: 195deg;
  --bulma-primary-s: 94%;
  --bulma-primary-l: 20%;
  --bulma-link-s: 16%;
  --bulma-link-l: 65%;


  --bg-color: #121212;
  --text-color: #f5f5f5;
}